
@{
    ViewData["Title"] = "OrderConfirm";
}

<div class="jumbotron">
    <div class="container">
        <h3>XÁC NHẬN ĐƠN HÀNG</h3>
        <p>Đơn hàng của quý khách chúng tôi đã nhận được.Shop sẽ liên hệ với quý khách trong thời gian sớm nhất</p>
        <p>Cảm ơn bạn đã mua hàng!!</p>
        <p>@Html.ActionLink("Quay về trang chủ", "Index", "Home")</p>
    </div>
</div>

